
/* General style */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-white: #fff;
    --color-orange: rgb(252, 179, 44);
    --color-red: rgb(253, 37, 37);
    --color-green: rgb(39, 130, 39);
    --color-gray-light: #f3f3f3;
    --color-gray-dark: #6d6d6d;
    --color-font: #3d3d3d;
}

body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
    background: url(Images/To-Do-List-BG.jpg) no-repeat center center/ cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: var(--color-font);
}

/* main */
#add-task-container {
    width: 350px;
    padding: 20px 10px;
    background: var(--color-gray-light);
    border-radius: 20px;
    box-shadow: 1px 1px 3px var(--color-gray-dark);
    margin-bottom: 20px;
    border: none;
    display: flex;
}

input {
    flex: 5;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 5px;
    border: 1.5px solid var(--color-gray-dark);
}

#add-task {
    flex: 1;
    transition: 0.3s;
    font-size: 1.2rem;
    padding: 5px;
    background-color: var(--color-white);
    color: var(--color-green);
    border: 1.5px solid var(--color-green);
    border-radius: 10px;
}

#add-task:hover {
    background-color: var(--color-green);
    color: var(--color-white);
}

/* styling for task which get addaed to to-do list, present in js*/
.task {
    width: 100%;
    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: 0 0 3px;
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.task li {
    list-style: none;
    flex: 4;
    padding: 5px;
    font-size: 1.3rem;
    margin: 10px;
}

.task button {
    flex: 1;
    border-radius: 10px;
    background-color: var(--color-white);
    cursor: pointer;
}

.task .checkTask {
    color: var(--color-orange);
    margin-right: 5px;
    border: 1.5px solid var(--color-orange);
    font-size: 1.5rem;
}

.task .checkTask:hover {
    background-color: var(--color-orange);
    color: var(--color-white);
}

.task .deleteTask {
    color: var(--color-red);
    border: 1.5px solid var(--color-red);
    font-size: 1.5rem;
}

.task .deleteTask:hover {
    background-color: var(--color-red);
    color: var(--color-white);
}
