
/* General style */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*if we add border or padding, it doesn't affect the width of it. */
}

:root {
    --color-theme: rgb(244, 130, 7);
    --color-theme-bg: #2c3902a2;
    --white: #e3e3e3;
    --color-font: #3d3d3d;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden; /*don't want scroll bar to appear.*/
    text-align: center;
    background: url(Images/QG-BG.jpg) no-repeat center center/ cover;
}

/* container */
.container {
    width: 650px;
    max-width: fit-content;
}

/* title and subtitle */
.header {
    border: 2px solid var(--white);
    border-radius: 15px;
    background-color: var(--color-theme-bg);
    padding: max(5px, 1vw) 0;
    width: 500px;
    max-width: 60%;
    position: fixed;
    top: max(50px, 5vw);
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: clamp(1.5vw, 1.3rem, 2rem);
    color: var(--color-theme);
}

h1 span {
    font-size: clamp(0.9vw, 1.2rem, 1.5rem);
    color: var(--white);
}

/* display box */
.main-content {
    color: var(--color-font);
    width: 100%;
    height: max(400px, 70%);
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius:15px;
    padding: 2rem 1rem;
    box-shadow: 0 0 10px;
    position: relative;
    top: 3rem;
}

/* quote */
.main-content .text-area {
    font-size: max(1vw, 1.2rem);
    line-height: 1.5;
}

/* about quote */
.info {
    margin-top: 1vw;
}

.main-content .chapter {
    font-size: clamp(1rem, 1.2rem, 5vw);
    color: var(--color-font);
    text-transform: uppercase;
}

/* JS button */
.next {
    color: var(--color-theme);
    font-size: 1.3rem;
    padding-left: 25px;
    border-radius: 5px;
    cursor: pointer;

}

/* cite */
cite {
    position: fixed;
    bottom: 10px;
    left: 25px;
    font-weight: thin;
    font-size: 1rem;
    color: var(--white);
}

@media(max-width: 500px) {
    .info {
        display: flex;
        flex-direction: column;
    }
    .next {
        padding-top: 0.4rem;
    }
    cite {
        display: none;
    }
}